$header-bg-color:#f61d4a;
$header-logo-bg:#ca0d35;

// meida query
$screen-sm-min:576px;
$screen-md-min:768px;
$screen-lg-min:992px;
$screen-xl-min:1200px;
$screen-xxl-min:1400px;
$scrren-xxxl-min:1680px;
$screen-1440:1440px;